@model Autoinsurance.Domain.Entities.Payment

@{
    ViewData["Title"] = "Edit Payment";
}

<h2>Edit Payment</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="PaymentDate" class="control-label"></label>
        <input asp-for="PaymentDate" class="form-control" type="date" />
        <span asp-validation-for="PaymentDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Cliente:</label>
        @Html.DropDownListFor(m => m.PolicyId, new SelectList(ViewBag.Policies, "Id", "PolicyNumber", Model.PolicyId), "--Seleccione una póliza--", new { @class = "form-control" })
        <span asp-validation-for="PolicyId" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
