@model Autoinsurance.Domain.Entities.Customer

<h2>Crear Cliente</h2>
@using (Html.BeginForm())
{
    <div>
        <label>Nombre:</label>
        @Html.TextBoxFor(m => m.Nombre)
    </div>
    <div>
        <label>Teléfono:</label>
        @Html.TextBoxFor(m => m.Telefono)
    </div>
    <div>
        <label>Email:</label>
        @Html.TextBoxFor(m => m.Email)
    </div>
    <button type="submit">Guardar</button>
}
<a href="@Url.Action("Index", "Customers")">Volver a la lista</a>
